* {
  margin: 0;
}

.app {
  flex-flow: column wrap;
  justify-content: space-evenly;
  margin: 20px;
}

.app__dropdown {
  background-color: white;
}

.app__top {
  display: flex;
  justify-content: space-evenly;
}

.app__bottom {
  margin: 16px;
}

body {
  background-color: #f5f6fa;
}

.app__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}

.app__left {
  flex: 0.9;
}

.app__right {
  display: flex;
  flex-direction: column;
}

.app__graph {
  flex-grow: 1;
}

.app__graphTitle {
  margin: 0 0 15px 0;
}
